# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Data & Outputs
# Se desejar subir os dados, comente as linhas abaixo. 
# Mas geralmente não subimos CSVs gigantes ou logs de manifesto.
# output/_manifesto_carga.csv
# output/_resumo_carga.csv

# Virtual environments
venv/
.env/
